<template name="sudoku">
	<div id="view-sudoku">
        <div class="row" style="margin-top: 5px">
            <div class="col-xs-6" style="height: 50px; text-align: left">
                <img src="/images/background/play.png" style="height: 100%">
            </div>
            <div class="col-xs-6 timer" style="text-align: right; margin-top: 10px">
                Timer: <span id="timer">{{displayTime}}</span>
            </div>

        </div>




		<!--a href="/arena/{{arena._id}}">Go Back to Arena</a-->

		<div id="number-select" style="display: none;">
			<div class="row">
				<div class="number col-xs-4">1</div>
				<div class="number col-xs-4">2</div>
				<div class="number col-xs-4">3</div>
				<div class="number col-xs-4">4</div>
				<div class="number col-xs-4">5</div>
				<div class="number col-xs-4">6</div>
				<div class="number col-xs-4">7</div>
				<div class="number col-xs-4">8</div>
				<div class="number col-xs-4">9</div>
				<div class="number col-xs-4" data-action="close">X</div>
				<div class="number col-xs-4">&nbsp;</div>
				<div class="number col-xs-4" data-action="delete"><span class="fa fa-eraser"></span></div>
			</div>
		</div>

		<div id="game-area">
			{{#with currentGame}}
				{{#each rows}}
					<div class="row" data-row="{{rowNumber}}">
						{{#each fields}}
							<div class="col-xs-1 cell {{isActiveClass fixed}}" data-row="{{../rowNumber}}" data-col="{{colNumber}}" data-fixed="{{fixed}}">{{value}}</div>
						{{/each}}
					</div>
				{{/each}}
			{{/with}}
		</div>
        <div class="row">
            <a href="/arena/{{arena._id}}" class="col-xs-12" style="text-align: center; height: 40px;margin-top: 10px">
                <img src="/images/background/arena.png" style="height: 100%">


            </a>

        </div>
	</div>
</template>