@import "../../variables";

#view-sudoku {
  .timer{
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    color: white;
  }

  #game-area {
    margin-top: 10px;

    .row {
      margin: auto;
    }

    .cell {
      background-color: #fff;
      border: 1px solid #aaa;
      height: 40px;
      width: 11.1%;
      display: table-cell;
      font-size: 20px;
      padding: 4px 0px;
      text-align: center;
      cursor: pointer;
    }
    .cell.error {
      background-color: #ff0000;
      color: #fff;
    }
    .cell.active.observe {
      background-color: #f5ff95;
    }
    .cell.selected {
      background-color: @brandColor;
      color: #fff;
    }
    .cell.active {
      background-color: #ddd;
    }
    .cell:nth-child(3n) {
      border-right: 2px solid #000;
    }
    .cell:nth-child(9) {
      border-right: 1px solid #aaa;
    }
    .row:nth-child(3n) {
      border-bottom: 2px solid #000;
    }
    .row:nth-child(9) {
      border-bottom: 1px solid #aaa;
    }
  }

  #number-select {
    position: absolute;
    z-index: 500;
    width: 182px;
    height: 242px;
    border: 1px solid #ccc;
    background-color: #666;

    .row {
      margin: 0px;
    }

    .number {
      color: #fff;
      font-weight: bold;
      font-size: 22px;
      text-align: center;
      padding-top: 12px;
      margin: 0px;
      width: 60px;
      height: 60px;
      border: 1px solid #ccc;
      cursor: pointer;
    }
  }
}