<template name="dashboard">
    <div id="view-dashboard">
        <!--
        <h1>
            Here are the currently available Arenas in your Area
        </h1>
        -->
        {{#if minDistance}}
			<button id="enter-button" class="full-width btn btn-primary" data-arena-id="{{closest._id}}">
				Enter {{closest.name}} Arena
			</button>
            {{else}}
            <h4>Your nearest arena is: {{closest.name}}</h4>
            <button id="enter-button" class="full-width btn btn-primary getToButton">
                Get directions to {{closest.name}}
            </button>
        {{/if}}
        {{>mapControl}}


		<br/><br/><br/><a href="/arena/{{randomArena}}">Join random arena</a>
    </div>
</template>