
@import "../variables";

#view-arenaranking{
  width: 100%;
  // border:1px solid red;
  .kingRow{
    height: 60px;
    // border: 1px solid blue;
  }
  .kingImage{
    text-align: center;
  }

  .title {
    text-align: center;
    padding: 15px 0px;
    color: @brandColor;
    font-size: 20px;
    text-transform: uppercase;
  }

  .number {
    text-align: right;
  }

  .line-separator {
   border-bottom:1px solid #cccccc;
   padding: 5px 0px;
  }

  .tableRow:nth-child(even) {
    background: #f9f9f9;
  }

  .tableRow.active {
    background-color: #FAEED7;
  }

  .panel-heading {
    font-weight: bold !important;
    font-family: sans-serif;
    font-size: 11px;
    background-color: #D8D8D8 !important;
  }
}
