<template name="arenalobby">
    <div id="view-arenalobby">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 lobbyImage">
                    {IMAGE}
                </div>
                <div class="col-xs-6 lobbyDescription">
                    {{arena.name}}<br/>
					({{arena.type}})
                </div>
            </div>
            <div class="row buttonRow">
                <div class="col-xs-12">
					<button type="button" class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Play Game <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="/arena/{{arena._id}}/game/sudoku">Single Player Sudoku</a></li>
						<li><a href="/arena/{{arena._id}}/play">Co-Op Sudoku</a></li>
						<li><a href="/arena/{{arena._id}}/play">PvP Sudoku</a></li>
					</ul>
                </div>
            </div>
            <div class="row buttonRow">
                <div class="col-xs-12">
                    <div class="button btn btn-primary"> CHALLENGE</div>
                </div>
            </div>
            <div class="row kingRow">
                <div class="col-xs-4 col-xs-offset-4 kingImage">{IMAGE OF KING}</div>

                    <div class="col-xs-6">
                        <a href="/arena/{{arena._id}}/ranking" class="button btn btn-primary"> View Ranks</a>
                    </div>


                    <div class="col-xs-6">
                        <a class="button btn btn-primary"> Challenge</a>
                    </div>


            </div>
        </div>
    </div>
</template>
